body{
    background: url('../image/hinhnen.png');
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
form{
    display: block;
    margin: 0;
    padding: 0;
}
td{
    display: table-cell;
}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}
li a:hover{
    color: yellow;
    text-decoration: none;
}



.data-left{
    width: 94%;
}
.data-right{
    width: 6%;
}
.data{
    width: 100%;
}
.data2{
    width: 100%;
    margin-top: 50px;
}
.left{
    width: 20%;
    float: left;
}
.right{
    width: 80%;
    float: right;
}
.table-pisoftware{
    background: transparent;
    height: 15%;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    background-color: #f2f2f2;
}
.layout-header{
    height: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.top-row{
    border-spacing: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.menu-left{
    width: 240px;
    height: 100%;
    padding: 0;
    text-align: left;

}
.logo{
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-family: "OpenSans-Semibold",sans-serif;
    padding-right: 10px;
    min-width: 185px;
    vertical-align: middle;
    white-space: nowrap;
    transition: opacity .2s;
}
.logo-text-container{
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    padding-left: 20px;
    padding-top: 12px;
}
.logo-text{
    color: #fff;
    display: block;
    margin-right: 7px;
    max-width: 240px;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-flex;
    align-items: center;
    font-size: 24px;
    font-family: "OpenSans-Semibold",sans-serif;
    padding-right: 10px;
    min-width: 185px;
    white-space: nowrap;
    transition: opacity .2s;
}
.header-search{
    position: relative;
    height: 34px;
    order: 3;
    overflow: hidden;
    width: 100%;
    transition: width .2s;
    margin-left: 10px;
}
.header-search-inner{
    height: 34px;
    max-width: 650px;
    margin: 0 25px 0 0;
    padding: 0 14px;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
    overflow: hidden;
}
.header-search-form{
    height: 36px;
    position: relative;
}
.header-search-input{
    background: white;
    border: medium none;
    box-shadow: none;
    box-sizing: border-box;
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 34px;
    outline: medium none;
    margin: 0 35px 0 5px;
    padding: 0 35px 0 0;
    text-indent: 0;
    width: 100%;
    text-overflow: ellipsis;
    border-radius: 25px;
}
.header-personal{
    display: flex;
}
.user-block{
    cursor: pointer;
    height: 63px;
    padding: 0 23px;
    max-width: 325px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: width 1s,opacity 1s,padding 1s;
}
.user-block:hover{
    background-color: rgba(255,255,255,.2);
}
.user-img{
    background-size: 24px;
    border-radius: 50%;
    display: inline-block;
    height: 38px;
    margin: 11px 15px 14px 0;
    vertical-align: middle;
    width: 38px;

}
.layout-content{
    height: 100%;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.layout-inner-table{
    background: transparent;
    border: medium none;
    border-spacing: 0;
    height: 100%;
    table-layout: fixed;
}
.layout-inner-left{
    height: 100%;
    
    -webkit-user-select: none;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.layout-inner-right{
    height: 100%;
    width: 960px;
    -webkit-user-select: none;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
.menu-item-block{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 990;
    width: 240px;
    transform: translateX(0);
    width: 20%;
}
.menu-item-body{
    position: absolute;
    top: 63px;
    bottom: 0;
    left: 0;
    right: 3px;
    transition: bottom .3s;
    overflow: hidden;
}
.menu-table-left{
    width: 20%;
    margin-top: 40px;
}
.list-table-right{
    width: 80%;
}
.menu-items{
    margin-top: 50px;
}
.layout-inner-table-right{
    border-spacing: 0;
    width: 20%;
}




#header{
    background: transparent;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 63px;
    min-width: 1100px;
    position: relative;
    z-index: 300;
}
#header-inner{
    margin: 0 auto;
    padding: 0 65px 0 0;
    position: relative;
    display: flex;
    align-items: center;
}
#header-logo{
    display: flex;
    order: 1;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding-right: 15px;
    white-space: nowrap;
    visibility: hidden;
}



tr#data:hover{
    background-color: #c7d4dd;
}